.list-card {
    margin-bottom: 20px;
  
    .card-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      height: 120px;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }
  
      .ant-card-body {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Căn giữa nội dung và icon */
        align-items: center;
  
        .icon {
          font-size: 48px; /* Kích thước icon lớn hơn */
          margin-left: auto; /* Đẩy icon về bên phải */
        }
      }
  
      /* Thẻ nhiệt độ */
      &.temperature {
        background: linear-gradient(to right, #ff8a80, #d32f2f); /* Gradient đỏ thể hiện nhiệt độ */
      }
  
      /* Thẻ ánh sáng */
      &.light {
        background: linear-gradient(to right, #fff176, #fbc02d); /* Gradient vàng thể hiện ánh sáng */
      }
  
      /* Thẻ độ ẩm */
      &.humidity {
        background: linear-gradient(to right, #81d4fa, #0288d1); /* Gradient xanh dương thể hiện độ ẩm */
      }
    }
  }
  